$gradient1: linear-gradient(#7755FF, #6943FF, #2F2CE9);
$gradient2: linear-gradient(#4D21C9, rgba(33, 36, 199, 0.0));
$lightBlue: #CAC9FF;

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: hanken;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
* {
    margin: 0;
}
body {
    @include flexCenter;
    height: 100vh;
    background-color: #ECF2FF;
    font-family: hanken;

    #container {
        @include flexCenter;
        border-radius: 32px;
        background-color: white;

        h1{
            font-weight: 600;
            font-size: 72px;
        }
        h2 {
            font-weight: 500;
            font-size: 32px;
        }
        h3 {
            font-weight: 500;
            font-size: 24px;
            color: $lightBlue;
        }
        #of100 {
            opacity: 51.68%;
            font-weight: 500;
            font-size: 18px;
            color: $lightBlue;
        }
        p {
            font-size: 18px;
            color: $lightBlue;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        > div {
            width: 50%;
            margin: auto;
            padding: 40px;
            box-sizing: border-box;
            border-radius: 32px;
        }

        #resultBlock {
            background-image: $gradient1;
            text-align:center;
            color: white;

            #circle {
                background-image: $gradient2;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                @include flexCenter;
                flex-direction: column;
                margin: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        #summaryBlock {
            background-color: white;
        }
    }
}
